.b2lm {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  .top {
    .title {
      display: flex;
      justify-content: center;
      h1,
      h2 {
        font-family: fontBurgerQuizzTitle;
        font-weight: inherit;
        font-size: 5em;
        margin-right: 10px;
      }
      h1 {
        color: $ketchup;
      }
      h2 {
        color: #6b9742;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      button {
        margin-top: 20px;
        font-family: fontBurgerQuizzTitle;
        font-size: 3rem;
        color: $segundary;
      }
    }
  }

  .container-flex {
    display: flex;
    .panel-l,
    .panel-r {
      width: 50%;

      .questions {
        .question {
          .divif {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
          }
          .g-q-r {
            width: 90%;
            padding: 5px 0;
          }
          h2 {
            font-family: fontBurgerQuizzTitle;
            font-weight: inherit;
            font-size: 3em;
            margin-right: 10px;
          }
          p {
            font-size: 1.8em;
          }
        }
      }
    }
  }

  &.mayo {
    .top {
      .buttons {
        button {
          color: $mayo;
          &:hover {
            color: $lightMayo;
          }
        }
      }
    }
    .panel-l,
    .panel-r {
      .questions {
        .question {
          color: $mayo;
          .g-q-r {
            border-top: solid 1px $mayo;
            border-bottom: solid 1px $mayo;
          }
          .q {
            color: $lightMayo;
          }
        }
      }
    }
  }

  &.ketchup {
    .top {
      .buttons {
        button {
          color: $ketchup;
          &:hover {
            color: $lightKetchup;
          }
        }
      }
    }
    .panel-l,
    .panel-r {
      .questions {
        .question {
          color: $ketchup;
          .g-q-r {
            border-top: solid 1px $ketchup;
            border-bottom: solid 1px $ketchup;
          }
          .q {
            color: $lightKetchup;
          }
        }
      }
    }
  }
}
