<div class="questions" :class="getTeam">
  <div class="buttons">
    <button type="button" name="button" @click="showReponse">
      Reponse
    </button>
    <button type="button" name="button" @click="nextQuestion">
      Next
    </button>
  </div>

  <div class="container-rep" v-show="isQuestionNuggets">
    <h2>{{getQuestion}}</h2>
    <div class="reponses">
      <div class="rep rep1" :class="getGoodAnswers">
        <h3>A</h3>
        <p>{{getRep1}}</p>
      </div>
      <div class="rep rep2" :class="getGoodAnswers">
        <h3>B</h3>
        <p>{{getRep2}}</p>
      </div>
      <div class="rep rep3" :class="getGoodAnswers">
        <h3>C</h3>
        <p>{{getRep3}}</p>
      </div>
      <div class="rep rep4" :class="getGoodAnswers">
        <h3>D</h3>
        <p>{{getRep4}}</p>
      </div>
    </div>
  </div>

  <div class="container-rep" v-show="isQuestionSelPoivre">
    <h2>{{getQuestion}}</h2>
    <div class="reponses">
      <div class="rep rep1" :class="getGoodAnswers">
        <h3>A</h3>
        <p>{{getRep1}}</p>
      </div>
      <div class="rep rep2" :class="getGoodAnswers">
        <h3>B</h3>
        <p>{{getRep2}}</p>
      </div>
      <div class="rep rep3" :class="getGoodAnswers">
        <h3>C</h3>
        <p>{{getRep3}}</p>
      </div>
    </div>
  </div>

  <div class="container-rep" v-show="isQuestionMenu">
    <h1>{{getMenu}}</h1>
    <h2>{{getQuestion}}</h2>
    <div class="reponses">
      <div class="rep rep1" v-show="showGoodAnswers">
        <p>Réponse: {{getRep1}}</p>
      </div>
    </div>
  </div>

  <div class="container-rep dessert" v-show="isQuestionDessert">
    <h2>A qui appartient ces 3 visages?</h2>
    <div class="ganache">
      <img
        src="./../../assets/desserts/ganache-ketchup.jpg"
        v-if="isTeamKetchup"
      />
      <img src="./../../assets/desserts/ganache-mayo.jpg" v-if="isTeamMayo" />
    </div>
    <div class="reponses">
      <div class="rep rep1" v-show="showGoodAnswers">
        <div class="rep-with-photo">
          <p>{{getRep1}}</p>
          <img
            src="./../../assets/desserts/ganache-ketchup-rep1.jpg"
            v-if="isTeamKetchup"
          />
          <img
            src="./../../assets/desserts/ganache-mayo-rep1.jpg"
            v-if="isTeamMayo"
          />
        </div>
        <div class="rep-with-photo">
          <p>{{getRep2}}</p>
          <img
            src="./../../assets/desserts/ganache-ketchup-rep2.jpeg"
            v-if="isTeamKetchup"
          />
          <img
            src="./../../assets/desserts/ganache-mayo-rep2.jpg"
            v-if="isTeamMayo"
          />
        </div>
        <div class="rep-with-photo">
          <p>{{getRep3}}</p>
          <img
            src="./../../assets/desserts/ganache-ketchup-rep3.jpg"
            v-if="isTeamKetchup"
          />
          <img
            src="./../../assets/desserts/ganache-mayo-rep3.jpg"
            v-if="isTeamMayo"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container-rep" v-show="isQuestionAddition">
    <h1 class="theme-addition">{{getMenu}}</h1>
    <h2>{{getQuestion}}</h2>
    <div class="reponses">
      <div class="rep rep1" v-show="showGoodAnswers">
        <p>Réponse: {{getRep1}}</p>
      </div>
    </div>
  </div>
</div>
