.questions {
  position: relative;
  color: $primary;
  width: 100%;
  min-height: 800px;

  .buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    button {
      color: $txt-primary;
      font-family: fontBurgerQuizzTitle;
      font-size: 4rem;
      &:hover {
        color: $segundary;
      }
    }
  }
  .container-rep {
    min-height: 500px;
    padding: 20px 0;
    background-color: $txt-primary;

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-family: fontBurgerQuizzTitle;
      font-size: 3.5rem;
      font-weight: inherit;
      &.theme-addition {
        font-size: 2rem;
        color: $segundary;
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: $base-size-xxl;
    }
    .reponses {
      width: 90%;
      margin: auto;
      .rep {
        display: flex;
        align-items: center;
        h3 {
          font-family: fontBurgerQuizzTitle;
          font-size: 3.5rem;
          font-weight: normal;
          margin-right: 20px;
        }
        p {
          position: relative;
          top: -8px;
          font-size: 2.2rem;
        }
        &.rep1.goodrep1,
        &.rep2.goodrep2,
        &.rep3.goodrep3,
        &.rep4.goodrep4 {
          color: $segundary;
        }
      }
      &.dessert {
        .rep {
          display: block;
          padding: 10px 0;
        }
      }
    }
    &.dessert {
      .ganache {
        img {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          max-width: 80%;
          height: auto;
        }
      }
      .reponses {
        .rep {
          display: flex;
          flex-direction: column;
          .rep-with-photo {
            margin-top: 50px;
            display: block;
            width: 100%;
            text-align: center;

            img {
              max-width: 80%;
              height: auto;
            }
          }
        }
      }
    }
  }

  &.mayo {
    background-color: $mayo;
    .buttons {
      button {
        color: $lightMayo;
        &:hover {
          color: #000;
        }
      }
    }
    .container-rep {
      background-color: $lightMayo;

      .reponses {
        .rep {
          &.rep1.goodrep1,
          &.rep2.goodrep2,
          &.rep3.goodrep3,
          &.rep4.goodrep4 {
            color: $mayo;
          }
        }
      }
      .ganache,
      .rep-with-photo {
        img {
          border: solid 4px $mayo;
        }
      }
    }
  }

  &.ketchup {
    background-color: $ketchup;
    .buttons {
      button {
        color: $lightKetchup;
        &:hover {
          color: #000;
        }
      }
    }
    .container-rep {
      background-color: $lightKetchup;

      .reponses {
        .rep {
          &.rep1.goodrep1,
          &.rep2.goodrep2,
          &.rep3.goodrep3,
          &.rep4.goodrep4 {
            color: $ketchup;
          }
        }
      }
      .ganache,
      .rep-with-photo {
        img {
          border: solid 4px $ketchup;
        }
      }
    }
  }
}
