<div class="main-container">
  <app-scores class="scores" [team]="ketchup"></app-scores>
  <div class="questions" [class]="question!.team">
    <div class="container-que">
      <h2>{{question!.question}}</h2>
    </div>
    <div class="container-rep">
      <ul class="reponses">
        <li class="rep" [class.goodrep]="isGoodRep(i)"
          *ngFor="let item of question!.reponseProp!.propositions; let i = index">
          <h3>{{item.letter}}</h3>
          <p>{{item.txt}}</p>
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button type="button" name="button" (click)="showReponse()">
        Reponse
      </button>
      <button type="button" name="button" (click)="nextQuestion()">
        Next
      </button>
    </div>

  </div>
  <app-scores class="scores" [team]="mayo"></app-scores>
</div>