@import "_variables";
:host {
  .equipes {
    position: relative;
    h1,
    button {
      margin: 100px auto;
      font-family: "fontBurgerQuizzTitle";
      font-size: 5rem;
      text-align: center;
      color: $txt-primary;
    }
    button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      color: $txt-segundary;
      margin: auto;
      &:hover {
        color: $txt-primary;
      }
    }
  }
}
