<template lang="html" src="./ScreenQuestion.html"></template>

<script>
import Scores from './Scores/Scores.vue'
import Questions from './Questions/Questions.vue'

export default {
  components: {
    Scores,
    Questions
  }
}
</script>

<style lang="scss" src="./ScreenQuestion.scss"></style>
