<div [class]="getClassB2lm()">
  <div class="top">
    <div class="title">
      <h2>Le Burger de la</h2>
      <h1 [class]="teamPlaying">Mort</h1>
    </div>
    <div class="buttons">
      <button type="button" name="button" (click)="showReponse()">Reponse</button>
      <button type="button" name="button" (click)="nextQuestion()">Next</button>
    </div>
  </div>

  @if (showAnswer) {
    <div class="questions">
      <div class="panel-l">
        @for (item of currentQuestions; track item; let i = $index) {
          <div class="question">
            @if (i<5) {
              <div class=" divif">
                <h2>{{i+1}}</h2>
                <div class="g-q-r">
                  <p class="q">{{item.question}}</p>
                  <p class="r">Réponse: {{item.reponse}}</p>
                </div>
              </div>
            }
          </div>
        }
      </div>
      <div class="panel-r">
        @for (item of currentQuestions; track item; let i = $index) {
          <div class="question">
            @if (5<=i) {
              <div class="divif">
                <h2>{{i+1}}</h2>
                <div class="g-q-r">
                  <p class="q">{{item.question}}</p>
                  <p class="r">Réponse: {{item.reponse}}</p>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>