/*******************************
 * Colors
 *******************************/

$primary: #010101 !default;
$segundary: #3c3dab !default;
$color-ketchup: #ca2f1f !default;
$light-ketchup: #f7d6d0 !default;
$color-mayo: #ecd416 !default;
$light-mayo: #f8f8e0 !default;

$txt-primary: #f8efcf !default;
$txt-segundary: #87d9f4 !default;

/*******************************
 * General
 *******************************/
$base-size-s: rem(14);
$base-size-m: rem(16);
$base-size-l: rem(20);
$base-size-xl: rem(35);
$base-size-xxl: rem(40);

/**********************************
 * Header
 *********************************/